.article-graphic {
  max-height: 230px;
  width: auto;
  margin: 0 auto;
}

.about-photo {
  border-radius: 1rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

section {
  max-width: 40rem;
}

h1 {
  padding-top: 2rem;
  font-size: 5rem;
  color: #35303a;
}

h2 {
  max-width: 30rem;
  hyphens: none;
  line-height: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  color: #f37321;
}

h3 {
    padding-top: 2rem;
    font-weight: bold;
    color: #28808b;
}

h4 {
  max-width: 30rem;
  font-size: 2rem;
  line-height: 4rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  color: #f37321;
}

.hero-image {
  height: auto;
  margin: 2rem;
}

.hero-image h1 {
  line-height: 2rem;
}

.hero-image h3 {
  font-size: 1.5rem;
  color: #e4c94f;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6rem;
}
