
footer {
  color: white;
  background-color: #35303a;
  height: auto;
  font-size: 1rem;
  text-align: center;
  margin: 0px !important;
  padding: 1rem;
}
footer p{
    margin: 0 0 0 0 !important;
}
footer strong{
  font-weight: bold;
  font-size: 1.2rem;
  color: #f37321;
}
footer a{
  color: #e4c94f;
  text-decoration: none;
}
footer a:hover{
  color: #28808b;
}

nav {
    width: 100%;
    height: auto;
    background-color: #35303A;
}
.nav {
    max-width: 40rem;
    margin: 0 auto;
}
.nav {
    /*display: none;*/
}
.nav > a, .nav > a:visited {
    display: none;
}
.nav li {
    position: relative;
}

/* first level */

.nav a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.nav > ul {
    font-weight: bold;
    max-width: 40rem;
    height: 3.75em;
    padding-top: 0;
    padding-bottom: 0;
}
.nav > ul > li {
    width: auto;
    height: 100%;
    float: left;
    padding-bottom: .5rem;
}
.dropdown > li {
    font-weight: bold;
}

.open li {
  padding-top: 0rem;
}

#close-menu {
  color: white;
  font-weight: bold;
}

.open li ul  {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-left: 1.5rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.nav > li > a:hover {
    color: #E5CA42;
    text-decoration: none !important;
}

/* second level */
.open > li > a {
  font-size: 1.5rem !important;
}

.nav li ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    background-color: #E5CA42;
    word-wrap: normal;
    width: 10rem;
}
.nav li:hover ul {
    display: block;
}
.nav li ul a {
    font-size: 1rem !important;
    line-height: 1rem;
    padding-left: 0;
    padding-right: 0;
    list-style: none !important;
}
.nav li ul a:hover {
    color: #28808b;
    text-decoration: none;
}
.dropdown {
    border-bottom-style: solid;
    border-bottom-color: #28808b;
    border-bottom-width: 0.3rem;
    border-radius: 1rem;
    padding: 1rem;
}
@media all and (min-width: 800px) {
    .nav {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        height: 3rem;
    }
}
