/*
  Colours
  Brown: #35303A;
  Green: #349097;
*/


nav{
  width: 100%;
}
#nav {
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 3rem;
  background-color: #35303A;
}
#nav > a, #nav > a:visited {
    display: none;
}
#nav li {
    position: relative;
}

/* first level */

#nav a {
  color: white;
}

#nav > ul {
    background-color: green;
    max-width: 20rem;
    height: 3.75em;
    padding-top: 0;
    padding-bottom: 0;
}
#nav > ul > li {
    width: 6rem;
    height: 100%;
    float: left;
}

#nav > li > a:hover{
  color: #349097;
  text-decoration: none;
}

/* second level */

#nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    word-wrap: normal;
    width: 12rem;
}

#nav li:hover ul {
    display: block;
}

#nav li ul a {
  padding-left: 0;
  padding-right: 0;
}

#nav li ul a:hover {
  color: #E5CA42;
  text-decoration: none;
}


.dropdown{
  background-color: #35303A;
}
