/*_________________________Preset________________________________*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: fantasy sans-serif serif;
  font-size: 16px;
  font-variant-ligatures: normal;
  margin: 0px !important;
}
nav {
  font-family: "Futura LT", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: #35303a;
  position: relative;
}
nav ul {
  margin: 0rem;
  padding: auto;
}
nav li {
  display: inline-flex;

}
li a {
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
header {
  width: 100%;
  height: auto;
  background-color: #f37321;
  background-image: url("../assets/images/header-pattern.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  position: relative;
}
footer ul {
  margin: 0rem;
  padding: auto;
  background-color: black;
}
footer li {
  display: inline-flex;

}

  footer h3{
  }

article {
  min-height: 17rem;
  /*border-style: solid;
  border-color: black;
  background-color: red;*/
}
section {}
caption {}
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {}

iframe {
  min-width: 100%;
  min-height: 36%;
  margin: 1rem 0rem;
}

/*_________________________________________________________________*/


/*__________________________CLASS_______________________________*/

.body {
  width: 100%;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 10rem 5rem 10rem;
  max-width: 400px;
  height: 300px;
  background-image: url("../assets/images/songkran-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: red;
  background-size: contain;
}

.caption {
  margin: 1rem;
  text-align: center;
}
.caption img {
  max-width: 22rem;
}

.footer{
  margin: 0;
  padding:0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura LT", sans-serif;
  font-weight: bold;
  text-align: center;
}

/*_________________________________________________________________*/


/*__________________________COLOUR_______________________________*/

.color1 {}
.color4 {}
.color3 {}

/*_________________________________________________________________*/


/*__________________________Media Query_______________________________*/

@media all and (min-width:40rem) {
  .article_1 {
    max-width: 40rem;
  }
  .body {
    /*max-width: 60rem;*/
  }
  .body .head{
    max-width: 100%;
  }
}
